name: Porter GHA Testing
run-name: ${{ github.actor }} is doing the porter GHA testing
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Basic echo and docker version
        run: |
          echo "Start"
          docker --version
          echo "End"
      - name: testing makefile
        working-directory: container-images
        run: make hack
