name: Porter GHA Testing
run-name: ${{ github.actor }} is doing the porter GHA testing
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      #- name: Install expect
      #  run: sudo apt-get install -y expect
      - name: Install cosign
        uses: sigstore/cosign-installer@main
      - name: Log in to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Basic echo and docker version
        run: |
          echo "Start"
          docker --version
          echo "End"
      #- name: testing makefile
      #  working-directory: container-images
      #  run: make hack
      #- name: experimenting more
      #  run: skopeo --version
      #- name: Write signing key to disk
      #  env:
      #    KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
      #  shell: bash
      #  run: 'echo "$KEY" > cosign.key'
      - name: Make unsig
        working-directory: container-images
        run: make unsig
      - name: Make cosign-sig
        working-directory: container-images
        run: make cosign-sig
